# IDE related
.idea
*.iml

# frontend ignore
*/node_modules
*/frontend/package-lock.json
*/frontend/node_modules
*/frontend/dist

# backend ignore
*/backend/config/config.yaml

# pip related
*.pyc
build
*.egg-info
out
gen
